h1, h3{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}

hr{
  width: 90px;
  border-color: #3ca557;
  border-width: 1.5px;
}

.initial{
  background: linear-gradient(to right, #212121 , #283c1f);
  color: #F2F2F2;
}

.rocket-league-background{
  background: url(https://thumbs.gfycat.com/WeepyWateryFoxhound-max-14mb.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.wrapper{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.container p{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: lighter;
  font-size: 35px;
}

.header{
  font-size: 70px;
}

.sub-header{
  font-size: 40px;
  font-style: italic;
}

.highlight{
  font-weight: bold;
}

.link{
  color: #F2F2F2;
  text-decoration: underline;
  -webkit-text-decoration-color: #3ca557;
  text-decoration-color: #3ca557;
}

.link:hover{
  color: #3ca557;
}

.portrait{
  width: 200px;
}

.palm-tree-icon{
  position: absolute;
  left: 0;
  top: 10px;
  opacity: 0.5;
}

.fade{
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .header{
    font-size: 50px;
  }

  .sub-header{
    font-size: 30px;
  }

  .container p{
    font-size: 20px;
  }

  .portrait{
    width: 150px;
  }
}
